.productContainer{
    width: 1024px;
    height: 250px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
}
.productimg{
    width: 250px;
    height: 250px;
}
.productContent{
    flex: 1;
    height: 250px;
    padding: 0px 15px;
}
.productCost{
      width:160px;
      height:250px;
      text-align:center;
} 
@media(max-width:900px){
.productContainer{   
    height:auto;
    max-width:none;
    width:100%;
     display:block;
     border-radius:0;
}
.productimg{
    width:100%;
    height:auto;
}}